<div class="container wrapper">
  <%= render 'shared/header', complementary_text: "del entretenimiento" %>
  <h3 class="text-center font-size-16 font-lighter">Primero crea los equipos:</h3>
  <%= form_with model: @team, local: true do |f| %>
    <div class="form-group">
      <%= f.label :team_1, "Nombre equipo 1" %>
      <%= f.text_field :team_1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :team_2, "Nombre equipo 2" %>
      <%= f.text_field :team_2, class: "form-control" %>
    </div>
    <%= f.submit "Crear Equipos", class: "btn order-more-button" %>
  <% end %>
</div>

