<div class="container wrapper">
  <%= render 'shared/header', complementary_text: "del entretenimiento" %>
  <%= link_to reset_papelitos_path do  %>
    <div class="text-right font-size-12 restart-btn">
      Reiniciar
      <i class="fas fa-redo"></i>
    </div>
  <% end %>
  <h3 class="text-center font-size-16 font-lighter">Primero crea los equipos:</h3>
  <%= simple_form_for :teams, url: teams_path do |f| %>
    <%= f.input :team_1, label: "Nombre equipo 1", input_html: { autocomplete: "off"} %>
    <%= f.input :team_2, label: "Nombre equipo 2" %>
    <%= f.submit "Crear Equipos", class: "btn order-more-button" %>
  <% end %>
</div>

