<div class="container" style="color: rgba(0,0,0,0.6); min-height: calc(100vh - 150px); height: 100%; margin-bottom: 150px; background-color: whitesmoke;">
  <% if current_user %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>
  <% end %>
  <h1 class="text-center" style="font-size: 24px; font-weight: bold;">
    El Mike Services
    <i class="fas fa-copyright"></i>
  </h1>
  <p class="text-center" style="font-size: 14px;">Tu plataforma web para pedirle favores al Mike</p>
    <div class="footer-copyright" style="display: flex; align-items: center; justify-content: space-between;font-size: 10px; text-align: right; margin-bottom: 12px;">
      <div style="font-size: 12px; width: 100px">
        <a style="color: #25d366; color: #25d366; border: solid 2px #25d366;border-radius: 8px; padding: 2px 8px;" href="https://wa.me/?text=<%= root_url %>">Compartir <i class="fab fa-whatsapp" style="color: #25d366;"></i></a>
      </div>
      <div>
          Made with <i class="fa fa-heart" style="color: red;"></i> By:<a href="https://www.instagram.com/12_startups/" target="_blank"> Mike @12_startups <i class="fab fa-instagram"></i></a>
      </div>
    </div>
  <hr style="margin-top: 0px;">
  <h3 class="text-center" style="font-size: 16px; font-weight: lighter;">Servicios que otros han pedido:</h3>
  <div class="cards-container">
    <% @tasks.each do |task| %>
      <%= render 'shared/task-card', task: task %>
    <% end %>
  </div>
  <br>
  <div class="footer navbar-fixed-bottom text-center" style="background-color: white; padding: 16px;box-shadow: 0px 0px 1em rgba(0,0,0,0.1); }">
    <style>
      input, input::placeholder {
        font-size: 12px;
        text-align: center;
      }
      input {
        border-radius: 25px !important;
      }
    </style>
    <div class="row"
    style="
    font-size: 12px !important;">
      <%= render 'shared/task-form', task: @task %>
    </div>
  </div>
</div>
