<div class="container">
  <h1 class="text-center" style="font-size: 24px; font-weight: bold;"> El Popular Koalazo</h1>
  <div class="row">
    <%= link_to "Volver A Jugar", koala_path, class: "btn play-again-button"  %>
    <%= link_to "Regresar al inicio", root_path, class: "btn go-back-button"  %>
    <% number_of_k = 0 %>
    <% @playing_cards.each do |playing_card| %>
      <% number_of_k += 1 if playing_card.number == "K"%>
      <%= render 'shared/playing-card', playing_card: playing_card, number_of_k: number_of_k %>
    <% end %>
    <div class="outline" onClick="this.remove();">
      <div class="top"><span><%= @cover_card[:number] %></span><span><%== @cover_card[:category] %></span></div>
      <div class="center">
        <p><%= @cover_card[:rule] %></p>
        <h1><%== @cover_card[:category] %></h1>
      </div>
      <div class="bottom"><span><%== @cover_card[:category] %></span><span><%= @cover_card[:number] %></span></div>
    </div>
  </div>
</div>
