<div class="my-contaienr" style="min-height: 100vh; overflow-x: hidden; font-family: 'Open Sans'; font-size: 12px; background: #dedada; padding: 10%;">
  <h4 class="text-center" id="timer">1:00</h3>
  <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
    <div class="stackedcards-container">
      <% @papers.each do |paper| %>
        <div class="card-item" data-paper-id="<%= paper.id %>" data-count="<%= paper.count %>"><%= paper.description %></div>
      <% end %>
      <div class="stackedcards--animatable stackedcards-overlay top"></div>
      <div class="stackedcards--animatable stackedcards-overlay right"><%= @team2.name %></div>
      <div class="stackedcards--animatable stackedcards-overlay left"><%= @team1.name %></div>
    </div>
  <div class="global-actions">
    <div class="left-action" data-team-id="<%= @team1.id %>" ><%= @team1.name %></div>
    <div class="top-action" >
      <%= link_to "Volver", players_path, style: "text-decoration: none; color: white;"  %>
    </div>
    <div class="right-action" data-team-id="<%= @team2.id %>"><%= @team2.name %></div>
  </div>
</div>
